<div class="layout layout-vertical layout-left-navigation layout-above-toolbar">
    <main>
        <nav id="toolbar" class="bg-white">
            <app-header></app-header>
        </nav>
        <div id="wrapper">
            <aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
                <app-sidebar></app-sidebar>
            </aside>
            <div class="content-wrapper">
                <div>
                    <app-breadcrumbs></app-breadcrumbs>
                </div>
                <ui-view name="actions">
                    actions@app
                </ui-view>
                <ui-view name="content">
                    content@app
                </ui-view>
            </div>
        </div>
    </main>
</div>